# Eclipse
.project
.classpath
.settings/

# Maven
target/

# TestNG
test-output/

# Generated reports (only project root folders)

/reports/
/screenshots/
/logs/

# OS
Thumbs.db
.DS_Store

# IntelliJ
.idea/
*.iml